<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sine Wave</title>
  <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
  <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>
<body>
  <py-env>
    - matplotlib
    - numpy
  </py-env>
  <py-script>
import matplotlib.pyplot as plt
import numpy as np

time = np.linspace(0, 2 * np.pi, 100)
plt.plot(time, np.sin(time))
plt
  </py-script>
</body>
</html> -->

{% extends "layout.html" %}
 
 {% block title %}
        <title>Users</title>
 {% endblock %}
 
 {% block body %}
        <body>
        {% include "navbar.html" %}
        <div class="jumbotron">
            <h2>Kullanıcılar</h2>
            {{hata}}
 
            <table class="table">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>Kullanıcı Adı</th>
                        <th>Parola</th>
                    </tr>
                </thead>
                <tbody>
 
 
                    <tr class="success">
                        <td>{{name}}</td>
                        <td>{{surname}}</td>
                        <td>{{username}}</td>
                        <td>{{password}}</td>
                    </tr>
 
 
                </tbody>
            </table>
 
        </div>
 
        </body>
 {% endblock %}